<div class="row">
  <div class="large-9 columns">
    <h1 class="header-title">My Collection <i class="icon-gift"></i></h1>
    <a href="/items/new" id="proxima" class="button secondary round">Add Item</a>
  </div>
  <div class="large-3 columns editlink">
    <%= link_to('Edit Registration', edit_user_registration_path) %>
  </div>
</div>


<div class= "row">
    <ul class="large-block-grid-4">
      <% @items.each do |item| %>
        <li><%= image_tag(item.picture_url) %></li>
      <% end %>
    </ul>
</div>

<div class= "row">
<table>
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Category</th>
    <th>Description</th>
    <th>Purchase date</th>
    <th>Exp date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.name %></td>
    <td><%= item.brand %></td>
    <td><%= item.category %></td>
    <td><%= item.description %></td>
    <td><%= item.purchase_date %></td>
    <td><%= item.exp_date %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>


