<div class="row">
  <div class="large-9 columns">
    <h1 class="header-title">My Collection <i class="icon-gift"></i></h1>
    <a href="/items/new" id="proxima" class="button secondary round">Add Item</a>
  </div>
  <div class="large-3 columns editlink">
    <%= link_to('Edit Registration', edit_user_registration_path) %>
  </div>
</div>

<div class="row">
  <div id="proxima" class="large-12 columns">
    <table id="center">
      <tr>
        <th>Brand</th>
        <th>Name</th>
        <th>Category</th>
        <th>Purchase Date</th>
        <th>Expiration Date</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @items.each do |item| %>
        <tr>
          <td><%= item.brand %></td>
          <td><%= item.name %></td>
          <td><%= item.category %></td>
          <td><%= item.purchase_date %></td>
          <td><%= item.exp_date %></td>
          <td><%= link_to 'Details', item %></td>
          <td><%= link_to 'Edit', edit_item_path(item) %></td>
          <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' }, :controller => "users", :action => "show", :id => current_user.id %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class= "row">
    <ul class="large-block-grid-4">
      <% @items.each do |item| %>
        <li><%= image_tag(item.picture_url) %></li>
      <% end %>
    </ul>
</div>


