<div class="row">
  <div class="large-9 columns">
    <h1 class="header-title">My Collection <i class="icon-gift"></i></h1>
  </div>
  <div class="large-3 columns editlink">
    <%= link_to('edit registration', edit_user_registration_path) %> |
    <%= link_to("sign out", destroy_user_session_path, :method => "delete") %>
  </div>
</div>

<div class="row">
  <a href="/items/new" id="proxima" >Add Item </a>
  <span>|</span>
  <a href="/users/<%=current_user.id%>/list" id="proxima" >List View <i class="icon-list"></i></a>
</div>

<div class="row">
  <div id="wrapper">
    <div id="columns">
      <% @items.each do |item| %>
      <a href="<%= url_for(:controller => 'items', :action => 'show', :id => item.id) %>">
      <div class="pin">
        <img src="<%= item.picture_url %>" />
        <p>
          <%= item.brand %> <%= item.name %>
        </p>
      </div>
      </a>
      <% end %>
   </div>
  </div>
</div>








