<div class="row">
  <div class="large-9 columns">
    <h1 class="header-title">My Collection <i class="icon-gift"></i></h1>
  </div>
  <div class="large-3 columns editlink">
    <%= link_to('edit registration', edit_user_registration_path) %> |
    <%= link_to("sign out", destroy_user_session_path, :method => "delete") %>
  </div>
</div>

<div class="row">
  <div class="large-3 columns large-centered">
    <a href="/items/new" id="proxima" class="button secondary expand">Add Item</a>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div id="wrapper">
      <div id="columns">
        <% @items.each do |item| %>
        <div class="pin">
          <a href="<%= url_for(:controller => 'items', :action => 'show', :id => item.id) %>"><img src="<%= item.picture_url %>" /></a>
          <p>
            <a href="<%= url_for(:controller => 'items', :action => 'show', :id => item.id) %>"> <%= item.brand %> <%= item.name %></a>
          </p>
        </div>
        <% end %>
     </div>
    </div>
  </div>
</div>







