<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Brand:</b>
  <%= @item.brand %>
</p>

<p>
  <b>Category:</b>
  <%= @item.category %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Purchase date:</b>
  <%= @item.purchase_date %>
</p>

<p>
  <b>Exp date:</b>
  <%= @item.exp_date %>
</p>

<p>
  <b>Picture/Swatch</b>
  <%= image_tag(@item.picture_url) %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'My Collection', :controller => "users", :action => "show", :id => current_user.id %>
